h1{
    font-size: 3rem;
}

.home-image{
    width: 50%;
    position: relative;
    left: 24%;
    margin-bottom: 30px;
}

.home-footer-text{
    color: #555555;
    font-size: 1rem;
}

.player-button{
    width: 100%;
}

.player1Card{
    width: 100%;
    border: 1px solid red;
}

.player2Card{
    width: 100%;
    border: 1px solid blue;
}

.active{
    background-color: #444444;
}

.score-button{
    width: 100%;
}

.score-cards{
    margin: 6px;
}

.score-cards-content{
    padding: 10px;
    height: 40px;
}