h1{
    font-size: 3rem;
}

.home-image{
    width: 50%;
    position: relative;
    left: 24%;
}

.home-footer-text{
    color: #555555;
    font-size: 1rem;
}

.player-button{
    width: 100%;
}

.player1Card{
    border: 1px solid red;
}

.player2Card{
    border: 1px solid blue;
}

.active{
    background-color: #444444;
}

.score-button{
    width: 100%;
}